@import '../../styles/constants';

.ExperienceView {
  @include center-content;
  height: 100%;
  background: $primary-color;
  padding-top: 74.59px;
  overflow: hidden;

  @media (max-width: $breakpoint-xs) {
    .ContentCard {
      padding: 0;
    }
  }
}
