@import '../../../styles/constants';

.FlagButton {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 0 10px;

  @media (max-width: $breakpoint-xl) {
    height: 35px;
    width: 35px;
  }

  @media (max-width: $breakpoint-xxs) {
    width: 30px;
    height: 30px;
  }

  &_image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: none;

    &.active {
      border: 3px solid $secondary-color;
    }
  }
}
