@import "../../styles/constants";

.DeveloperAnimation {
  margin-left: 0.7rem;
  margin-bottom: -1.3rem;

  @media (min-width: $breakpoint-md) {
    margin-bottom: -1.6rem;
  }

  #developer {
    width: 280px;
    height: 54px;
    animation: fill-developer 0.5s ease forwards 4.7s;

    @media (min-width: $breakpoint-xs) {
      width: 406.4px;
    }

    @media (min-width: $breakpoint-md) {
      width: 500px;
    }

    @media (min-width: $breakpoint-lg) {
      width: 646px;
    }
  }

  #developer path:nth-child(1) {
    stroke-dasharray: $letter-f-lg;
    stroke-dashoffset: $letter-f-lg;
    animation: appear 0.75s ease forwards 0.5s;
  }

  #developer path:nth-child(2) {
    stroke-dasharray: $letter-u-lg;
    stroke-dashoffset: $letter-u-lg;
    animation: appear 0.75s ease forwards 0.65s;
  }

  #developer path:nth-child(3) {
    stroke-dasharray: $letter-l-lg;
    stroke-dashoffset: $letter-l-lg;
    animation: appear 0.75s ease forwards 0.8s;
  }

  #developer path:nth-child(4) {
    stroke-dasharray: $letter-l-lg;
    stroke-dashoffset: $letter-l-lg;
    animation: appear 0.75s ease forwards 0.95s;
  }

  #developer path:nth-child(5) {
    stroke-dasharray: $dash-lg;
    stroke-dashoffset: $dash-lg;
    animation: appear 0.75s ease forwards 1.1s;
  }

  #developer path:nth-child(6) {
    stroke-dasharray: $letter-s-lg;
    stroke-dashoffset: $letter-s-lg;
    animation: appear 0.75s ease forwards 1.25s;
  }

  #developer path:nth-child(7) {
    stroke-dasharray: $letter-t-lg;
    stroke-dashoffset: $letter-t-lg;
    animation: appear 0.75s ease forwards 1.4s;
  }

  #developer path:nth-child(8) {
    stroke-dasharray: $letter-a-lg;
    stroke-dashoffset: $letter-a-lg;
    animation: appear 0.75s ease forwards 1.55s;
  }

  #developer path:nth-child(9) {
    stroke-dasharray: $letter-c-lg;
    stroke-dashoffset: $letter-c-lg;
    animation: appear 0.75s ease forwards 1.7s;
  }

  #developer path:nth-child(10) {
    stroke-dasharray: $letter-k-lg;
    stroke-dashoffset: $letter-k-lg;
    animation: appear 0.75s ease forwards 1.85s;
  }

  #developer path:nth-child(11) {
    stroke-dasharray: $letter-w-lg;
    stroke-dashoffset: $letter-w-lg;
    animation: appear 0.75s ease forwards 2s;
  }

  #developer path:nth-child(12) {
    stroke-dasharray: $letter-e-lg;
    stroke-dashoffset: $letter-e-lg;
    animation: appear 0.75s ease forwards 2.15s;
  }

  #developer path:nth-child(13) {
    stroke-dasharray: $letter-b-lg;
    stroke-dashoffset: $letter-b-lg;
    animation: appear 0.75s ease forwards 2.3s;
  }

  #developer path:nth-child(14) {
    stroke-dasharray: $letter-d-lg;
    stroke-dashoffset: $letter-d-lg;
    animation: appear 0.75s ease forwards 2.45s;
  }

  #developer path:nth-child(15) {
    stroke-dasharray: $letter-e-lg;
    stroke-dashoffset: $letter-e-lg;
    animation: appear 0.75s ease forwards 2.6s;
  }

  #developer path:nth-child(16) {
    stroke-dasharray: $letter-v-lg;
    stroke-dashoffset: $letter-v-lg;
    animation: appear 0.75s ease forwards 2.75s;
  }

  #developer path:nth-child(17) {
    stroke-dasharray: $letter-e-lg;
    stroke-dashoffset: $letter-e-lg;
    animation: appear 0.75s ease forwards 2.9s;
  }

  #developer path:nth-child(18) {
    stroke-dasharray: $letter-l-lg;
    stroke-dashoffset: $letter-l-lg;
    animation: appear 0.75s ease forwards 3.05s;
  }

  #developer path:nth-child(19) {
    stroke-dasharray: $letter-o-lg;
    stroke-dashoffset: $letter-o-lg;
    animation: appear 0.75s ease forwards 3.2s;
  }

  #developer path:nth-child(20) {
    stroke-dasharray: $letter-p-lg;
    stroke-dashoffset: $letter-p-lg;
    animation: appear 0.75s ease forwards 3.35s;
  }

  #developer path:nth-child(21) {
    stroke-dasharray: $letter-e-lg;
    stroke-dashoffset: $letter-e-lg;
    animation: appear 0.75s ease forwards 3.5s;
  }

  #developer path:nth-child(22) {
    stroke-dasharray: $letter-r-lg;
    stroke-dashoffset: $letter-r-lg;
    animation: appear 0.75s ease forwards 3.65s;
  }

  #developer path:nth-child(23) {
    stroke-dasharray: $dot-lg;
    stroke-dashoffset: $dot-lg;
    animation: appear 0.75s ease forwards 3.8s;
  }
}

@keyframes appear {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-developer {
  from {
    fill: transparent;
  }
  to {
    fill: $accent-color;
  }
}
