@import '../../styles/constants';

.Presentation {
  @media (min-width: 550px) {
    margin-top: 10rem;
  }

  &_info {
    @include center-content;
    color: $accent-color;
    font-size: 1.3rem;
    font-weight: 900;
    flex-direction: column;

    @media (min-width: $breakpoint-xs) {
      font-size: 1.8rem;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 2.2rem;
    }

    @media (min-width: $breakpoint-xl) {
      font-size: 2.7rem;
    }

    @media (min-width: 630px) {
      flex-direction: row;
    }

    &_text {
      user-select: none;
    }
  }
}
