@import "../../styles/constants";

.Presentation {
  @media (min-width: 550px) {
    padding-top: 15rem;
  }

  &_info {
    color: $accent-color;
    font-family: $primary-font;
    font-size: 1.3rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-xs) {
      font-size: 2.06rem;
    }

    @media (min-width: $breakpoint-md) {
      font-size: 2.5rem;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 2.85rem;
    }

    @media (min-width: 550px) {
      flex-direction: row;
    }
  }
}
