@import '../../styles/constants';

.Timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &::after {
    background-color: $secondary-color;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    left: calc(50% - 2px);
  }
}
