@import '../../styles/constants';

.RatioContainer {
  position: relative;
  height: 0;
  padding-bottom: calc(100% / (16 / 9));

  > * {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    max-width: 100%;
  }
}
