@import '../../styles/constants';

.ImageSlider {
  @include center-content;
  position: relative;
  height: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
  user-select: none;

  &_arrow {
    position: absolute;
    top: 50%;
    color: $secondary-color;
    user-select: none;
    cursor: pointer;
    z-index: 10;

    @media (max-width: $breakpoint-md) {
      top: 100%;
    }

    &.left {
      left: 0;
      @media (max-width: $breakpoint-md) {
        left: 41.5%;
      }
      @media (max-width: $breakpoint-xs) {
        left: 35%;
      }
    }

    &.right {
      right: 0;
      @media (max-width: $breakpoint-md) {
        right: 41.5%;
      }
      @media (max-width: $breakpoint-xs) {
        right: 35%;
      }
    }
  }

  &_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    &.mobile {
      width: auto;
    }
  }

  &_slide {
    height: 100%;
    opacity: 0;
    transition-duration: 0.75s ease;
    transform: scale(0.82);

    &.active {
      opacity: 1;
      transition-duration: 0.75s;
      transform: scale(0.9);
    }
  }
}
