@import '../../styles/constants';

.ImageSlider {
  @include center-content;
  position: relative;
  height: 100%;
  width: 100%;
  user-select: none;

  &_arrow {
    position: absolute;
    top: 50%;
    color: $secondary-color;
    user-select: none;
    cursor: pointer;
    z-index: 10;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  &_image {
    width: auto;
    height: 100%;
    border-radius: 10px;

    &.mobile {
      width: auto;
      transform: translateX(-50%);
    }
  }

  &_slide {
    height: 100%;
    opacity: 0;
    transition-duration: 0.75s ease;
    transform: scale(0.82);

    &.active {
      opacity: 1;
      transition-duration: 0.75s;
      transform: scale(0.9);
    }
  }

  @media (max-width: $breakpoint-md) {
    &_arrow {
      top: 100%;

      &.left {
        left: 41.5%;
      }

      &.right {
        right: 41.5%;
      }
    }
  }

  @media (max-width: $breakpoint-xs) {
    &_arrow {
      &.left {
        left: 35%;
      }

      &.right {
        right: 35%;
      }
    }
  }
}
