@import '../../styles/constants';

.PrimaryButton {
  @include center-content;
  padding: 0.5rem;
  background: $secondary-color;
  color: $accent-color;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;

  @media (min-width: $breakpoint-xs) {
    font-size: 1rem;
  }

  &:hover {
    transform: translateY(-2px);
  }
}
