@import "../../styles/constants";

.AboutInfo {
  @include center-content;
  flex-direction: column;
  padding-right: 50px;
  text-align: justify;
  text-justify: inter-word;
  cursor: grab;

  &_heading {
    font-size: 1.3rem;
    margin-bottom: 10px;
    cursor: grab;

    @media (max-width: $breakpoint-s) {
      font-size: 1.1rem;
    }

    &::selection {
      background: transparent;
    }
  }

  &_info {
    font-size: 1.15rem;

    @media (max-width: $breakpoint-s) {
      font-size: 1rem;
    }

    &::selection {
      background: transparent;
    }

    & i,
    br,
    p,
    strong {
      &::selection {
        background: transparent;
      }
    }
  }

  @media (max-width: $breakpoint-xl) {
    padding-right: 0;
  }
}
