@import '../../styles/constants';

.ProjectsCard {
  background-color: $darker-color;
  border-radius: 10px;
  box-shadow: 0 0 10px transparentize($accent-color, 0.7);
  min-width: 350px;
  margin: 20px;

  @media (max-width: $breakpoint-lg) {
    min-width: 250px;
    margin: 20px 0;
  }

  &_image-container {
    aspect-ratio: 16 / 9;
    background-color: transparentize($secondary-color, 0.4);
    border-radius: 10px 10px 0 0;
  }

  &_image {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;

    &.mobile {
      width: auto;
      margin: auto;
      border-radius: 0;
    }
  }

  &_details {
    padding: 20px;
    text-align: justify;
    cursor: grab;
    margin: auto;

    h3 {
      color: $accent-color;
      font-weight: 600;
      font-size: 1.1rem;
      margin: 10px 0 15px 0;
      text-align: center;

      @media (max-width: $breakpoint-xs) {
        font-size: 1rem;
      }

      &::selection {
        background-color: transparent;
      }
    }
    p {
      color: transparentize($accent-color, 0.3);
      font-weight: 400;
      height: 120px;
      overflow-y: auto;
      padding-right: 5px;

      @media (max-width: $breakpoint-xs) {
        font-size: 0.9rem;
      }

      @media (max-width: $breakpoint-lg) {
        height: auto;
      }

      &::selection {
        background-color: transparent;
      }
    }
  }

  &_technologies {
    height: 50px;
    font-size: 0.95rem;

    @media (max-width: $breakpoint-xs) {
      font-size: 0.85rem;
    }

    @media (max-width: $breakpoint-lg) {
      height: auto;
    }

    &::selection {
      background-color: transparent;
    }

    &-tech {
      color: transparentize($accent-color, 0.3);

      &::selection {
        background-color: transparent;
      }
    }
  }

  &_actions {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}
