@import '../../styles/constants';

.ProjectCard {
  background-color: $darker-color;
  border-radius: 10px;
  box-shadow: 0 0 15px transparentize($accent-color, 0.7);
  min-width: 350px;
  margin: 20px;
  user-select: none;

  &_image-container {
    aspect-ratio: 16 / 9;
    background-color: transparentize(black, 0.7);
    border-radius: 10px 10px 0 0;
    cursor: pointer;
  }

  &_image {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;

    &.mobile {
      width: auto;
      margin: auto;
      border-radius: 0;
    }
  }

  &_details {
    padding: 20px;
    text-align: justify;
    margin: auto;

    h3 {
      color: $accent-color;
      font-weight: 600;
      font-size: 1.1rem;
      margin: 10px 0 15px 0;
      text-align: center;
      user-select: none;
    }
    p {
      color: transparentize($accent-color, 0.3);
      font-weight: 400;
      height: 120px;
      overflow-y: auto;
      padding-right: 5px;
      user-select: none;
    }
  }

  &_technologies {
    height: 50px;
    font-size: 0.95rem;
    user-select: none;

    &-tech {
      color: transparentize($accent-color, 0.3);
      user-select: none;
    }
  }

  &_actions {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  @media (max-width: $breakpoint-lg) {
    min-width: 250px;
    margin: 20px 0;

    &_details p {
      height: auto;
    }

    &_technologies {
      height: auto;
    }
  }

  @media (max-width: $breakpoint-xs) {
    &_details {
      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }

    &_technologies {
      font-size: 0.85rem;
    }
  }
}
