@import '../../styles/constants';

.ProjectModal {
  &_background {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: transparentize(#09141a, 0.15);
    display: flex;

    &.open {
      opacity: 1;
      pointer-events: visible;
    }
  }

  &_inner {
    width: 1100px;
    max-width: calc(100% - 60px);
    margin: auto;
    display: flex;
    position: relative;
    aspect-ratio: 16 / 9;

    &.mobileSlider {
      @media (max-width: $breakpoint-s) {
        aspect-ratio: 1 / 1.3;
      }

      @media (max-width: $breakpoint-lg) {
        aspect-ratio: 4 / 3;
      }
    }

    img {
      width: 100%;
    }
  }

  &_toggler {
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: $secondary-color;
    color: $accent-color;
    border-radius: 50%;
    cursor: pointer;

    &-icon {
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}
