@import "../../styles/constants";

.NavbarMenu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #122a38;
  position: fixed;
  top: -100vh;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
  z-index: 1000;

  &.open {
    top: 0;
    border-radius: initial;
  }

  &_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-xl) {
      flex-direction: row;
    }
  }

  &_list:hover {
    .NavbarMenu_list-item_link {
      transform: scale(1.5);
      opacity: 0.2;
      filter: blur(5px);
    }
  }

  &_list-item {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;

    &_link {
      display: block;
      position: relative;
      text-decoration: none;
      padding: 0.3rem;
      font-size: 1.3rem;
      font-family: $primary-font;
      color: $accent-color;
      text-transform: uppercase;
      transition: 0.5s;

      &:hover {
        transform: scale(2) !important;
        opacity: 1 !important;
        filter: blur(0) !important;

        &::before {
          transition: transform 0.5s;
          transform-origin: left;
          transform: scaleX(1);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $secondary-color;
        transition: transform 0.5s;
        transform-origin: right;
        transform: scaleX(0);
        z-index: -1;
      }
    }
  }
}
