@import "../../styles/constants";

.NavbarMenu {
  @include center-content;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $darker-color;
  position: fixed;
  top: -100vh;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
  z-index: 1000;

  &.open {
    top: 0;
    border-radius: initial;
  }

  &_list {
    margin: 0;
    padding: 0;
    display: flex;

    @media (max-width: $breakpoint-xl) {
      flex-direction: column;
    }

    &:hover {
      .NavbarMenu_list-item_link {
        opacity: 0.2;
      }
    }
  }

  &_list-item {
    list-style: none;
    margin: 0 30px;
    transition: 0.5s;

    @media (max-width: $breakpoint-xl) {
      margin: 7px 0;
    }

    &_link {
      display: block;
      position: relative;
      text-decoration: none;
      padding: 0.3rem;
      font-size: 1.3rem;
      color: $accent-color;
      text-transform: uppercase;
      transition: 0.5s;

      &::selection {
        background: transparent;
      }

      &:hover {
        transform: scale(2) !important;
        opacity: 1 !important;
        filter: blur(0) !important;

        &::before {
          transition: transform 0.5s;
          transform-origin: left;
          transform: scaleX(1);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $secondary-color;
        transition: transform 0.5s;
        transform-origin: right;
        transform: scaleX(0);
        z-index: -1;
      }
    }
  }
}
