@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Colors */
$primary-color:#132c3a;
$secondary-color: #f5497d;
$accent-color: #f3f3f3;

/* Breakpoints */
$breakpoint-xl: 1200px;
$breakpoint-lg: 945px;
$breakpoint-m: 768px;
$breakpoint-s: 600px;
$breakpoint-xs: 450px;
$breakpoint-xxs: 350px;

/* Fonts */
$primary-font: 'poppins', 'Roboto', sans-serif;